$generalfont: 'Oswald', sans-serif;;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}


.flex_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    background-color: black;
}


body::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar-thumb{
    background-color: rgb(56, 56, 56);
    border-radius: 5px;
}

body::-webkit-scrollbar-track{
    background-color: rgb(216, 216, 216);
}


.logo{
    background-color: white;
    max-width: 30%;
    padding: 0.5%;
    border-radius: 40px;
    cursor: pointer;
}


header{
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10%;
    background-color: transparent;
    ul{
        text-align: center;
        list-style: none;
        li{
            display: inline-block;
            padding: 0px 20px;
            a{
                font-family: $generalfont;
                font-size: 1.4583333333333333vw;
                font-style: normal;
                color: white;  
                text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
            } 
        }
    }
}

.parallax{
    position: absolute;
    background-image: url(Sources/Servicios.jpeg);
    width: 96%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#Servicios{
    position: relative;
    display: flex;
    width: 100%;
    margin-top:80vh;
    flex-wrap: wrap;
    z-index: 1;
    border-radius: 10px;
    background-image: linear-gradient(rgb(46, 46, 46) 90%,black);
    text-align: center;
    justify-content: center;
    .gallery{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        padding: 1% 1% 0.5% 1%;
        height: 70vh;
        .imagen{
            border-radius: 30px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            align-items: center;
            justify-content: center;
            color: white;
            font-family: $generalfont;
            font-size: 4vh;
            text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
        }
        p{
            width: 100%;
            
        }
        ul{
            transition: 1s;
            opacity: 0;
            visibility: hidden;
            li{
               list-style: none;
            }
        }
        
        #mantenimiento{
            background-image: url(Sources/mantenimiento.jpeg);
            background-position: center;
            background-size: 100% 100%;
            transition: 1s;
        }
        #mecanica{
            background-image: url(Sources/mecanica.jpeg);
            background-position: center;
            background-size: 100% 100%;
            transition: 1s;
        }
        #sistema{
            background-image: url(Sources/sistemaelectrico.jpg);
            background-position: center;
            background-size: 100% 100%;
            transition: 1s;
        }
        #servicio{
            background-image: url(Sources/servicioasitio.jpeg);
            background-position: center;
            background-size: 100% 100%;
            transition: 1s;
        }
        #pintura{
            background-image: url(Sources/pintura.jpg);
            background-position: center;
            background-size: 100% 100%;
            transition: 1s;
        }
        img{
            border-radius: 40px;
            width: 100%;
        }
    }
    .gallery:hover{
        ul{
            visibility: visible;
            opacity: 100;
        }
        #mantenimiento{
            filter: grayscale(100);
            background-size: 150% 150%;
        } 
        #mecanica{
            filter: grayscale(100);
            background-size: 150% 150%;
        } 
        #sistema{
            filter: grayscale(100);
            background-size: 150% 150%;
        } 
        #servicio{
            filter: grayscale(100);
            background-size: 150% 150%;
        } 
        #pintura{
            filter: grayscale(100);
            background-size: 150% 150%;
        } 
    } 
}

footer{
    padding: 10% 0% 0% 0%;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #000000;
    ul{
        width: 20%;
        list-style: none;

        li{
            width: 100%;
            
            padding-left: 50%;
            padding-bottom: 5%;
            a{
                font-family: $generalfont;
                font-size: 1vw;
                font-style: normal;
                color: white;  
                text-decoration: none;
                
            } 
        }
    }
}

.afiliados{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    #afiliadotext1{
        font-family: $generalfont;
        font-size: 1.875vw;
        text-align: center;
        width: 100%;
        color: white;
    }
    #afiliadotext2{
        font-family: $generalfont;
        font-size: 1.25vw;
        text-align: center;
        width: 60%;
        color: white;
    }
    #afiliadoslogo{
        width: 50%;
        
    }
}