* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}

.flex_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  background-color: #4592AF;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #383838;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #d8d8d8;
}

header {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 10%;
  background-color: #998cc0;
}
header ul {
  text-align: center;
  list-style: none;
}
header ul li {
  display: inline-block;
  padding: 0px 20px;
}
header ul li a {
  font-family: "Oswald", sans-serif;
  font-size: 1.4583333333vw;
  font-style: normal;
  color: black;
}

.logo {
  max-width: 30%;
  cursor: pointer;
}

.firstpart {
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 100vh;
  background: linear-gradient(360deg, #998cc0 100%, #ffff 81.56%), url(.jpg);
  max-width: 100%;
}

.parallax1 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax1 #text {
  font-family: "Oswald", sans-serif;
  position: absolute;
  color: white;
  font-size: 2em;
  letter-spacing: 2px;
  font-weight: 400;
  text-align: center;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  z-index: 100;
}
.parallax1 #text span {
  font-size: 5vw;
}
.parallax1 #text button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  font-family: "Oswald", sans-serif;
  font-size: 0.5em;
  background: white;
  font-weight: bold;
  color: black;
  letter-spacing: 2px;
  border-radius: 40px;
  margin-top: 2%;
}
.parallax1 img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.parallax1 #carretera {
  z-index: 3;
}
.parallax1 #montanas {
  z-index: 2;
}
.parallax1 #montanaslejanas {
  z-index: 1;
}
.parallax1 #moto {
  z-index: 4;
}
.parallax1 #planicie {
  z-index: 50;
  background: linear-gradient(180deg, #998cc0 5%, rgba(255, 255, 255, 0) 25%);
}

.secondpart {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #33313B;
  z-index: 200;
}

.texto1 {
  margin-top: 5vw;
  width: 100%;
  font-size: 2.5vw;
  font-family: "Oswald", sans-serif;
  color: white;
  text-align: center;
}

.texto2 {
  margin-top: 5%;
  margin-left: 25%;
  width: 50%;
  font-size: 1.4583333333vw;
  font-family: "Oswald", sans-serif;
  color: white;
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
  padding: 5% 20% 0% 20%;
}

.glider-prev, .glider-next {
  top: 50%;
  color: white;
  font-size: 4vw;
}

.glider-prev {
  left: -10%;
}

.glider-next {
  right: -10%;
}

.servicios {
  display: flex;
}
.servicios p {
  position: absolute;
  text-align: center;
  top: 50%;
  font-size: 2.5vw;
  font-family: "Oswald", sans-serif;
  color: white;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}
.servicios button {
  cursor: pointer;
}

.thirdpart {
  width: 100%;
  background-color: black;
}
.thirdpart .vector2 {
  position: absolute;
  visibility: visible;
  z-index: 200;
  transform: rotate(180deg);
  height: 26.0416666667vw;
  width: 96%;
  margin-top: -1px;
}

#parallax {
  position: relative;
  background-position: center;
  background-attachment: fixed;
  background-image: url(Sources/imagenparallax.png);
  background-size: 100% 100%;
  height: 60rem;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  #parallax {
    height: 30rem;
  }
}
@media (max-width: 500px) {
  #parallax {
    height: 15rem;
  }
}

footer {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #000000;
}
footer ul {
  width: 20%;
  list-style: none;
}
footer ul li {
  width: 100%;
  padding-left: 50%;
  padding-bottom: 5%;
}
footer ul li a {
  font-family: "Oswald", sans-serif;
  font-size: 1vw;
  font-style: normal;
  color: white;
  text-decoration: none;
}

.afiliados {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.afiliados #afiliadotext1 {
  font-family: "Oswald", sans-serif;
  font-size: 1.875vw;
  text-align: center;
  width: 100%;
  color: white;
}
.afiliados #afiliadotext2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.25vw;
  text-align: center;
  width: 60%;
  color: white;
}
.afiliados #afiliadoslogo {
  width: 50%;
}/*# sourceMappingURL=Style.css.map */