$generalfont: 'Roboto', sans-serif;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin-left: 2%;
    margin-right: 2%;
}

.flex_container{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    background-color: #4592AF;
}

body::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar-thumb{
    background-color: rgb(56, 56, 56);
    border-radius: 5px;
}

body::-webkit-scrollbar-track{
    background-color: rgb(216, 216, 216);
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10%;
    background-color: #F6F5F5;
    ul{
        text-align: center;
        list-style: none;
        li{
            display: inline-block;
            padding: 0px 20px;
            a{
                font-family: $generalfont;
                font-size: 1.4583333333333333vw;
                font-style: normal;
                color: black;  
            } 
        }
    }
}

.vector{
    position: absolute; 
    visibility: visible; 
    z-index: 200;
    height: 26.041666666666668vw;
    width: 96%;
    margin-top: 45.9%;
    right: 2%;
}

.logo{
    max-width: 30%;
}



.firstpart{
    justify-content: space-between;
    display: flex;
    margin-left: 2.604166666666667%;
    margin-right: 2.604166666666667%;
    background-color: #4592AF;
    max-width: 100%;

}

.landing_text{
    display: flex;
    width: 50%;
    justify-content: center;
    margin-top: 25%;
    margin-left: 4.21875%;
}

.landing_text .box{
    width: 100%;
    height: 100%;
    h1{
        color: white;
        font-family: $generalfont;
        font-weight: normal;
        font-size: 2.5vw;
        text-align: center; 
    }
    p{
        margin-top: 1.3020833333333333vw;
        color: white;
        font-family: $generalfont;
        font-weight: normal;
        font-size: 1.25vw;
        text-align: center; 
    }
    div{
        margin-top: 1.3020833333333333vw;
        display: flex;
        justify-content: center; 

        button{
            width: 7.5vw;
            height: 3.0208333333333335vw;
            background: #FFFFFF;
            cursor: pointer;
            border-radius: 13px;
            background-color: white;
            color: black;
            font-family: $generalfont;
            font-weight: normal;
            font-size: 1.25vw;
            
        }
    }
}

button{
    border: none;
}

.image_section{
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    height: 100%;
    z-index: 2;
}

.images{
    width: 100%;
    height: 100%;
    transition: 1s;
}

.image_container{
    background-color: black;
    display: flex;
    height: 33.333333%;
    width: 50%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    z-index: 201;
}

.image_container:hover .images{
    filter: grayscale(100%) brightness(30%);
    
}

.secondpart{
    display: flex;
    flex-wrap: wrap;
    background-color: #33313B;
}


.texto1{
    width: 100%;
    font-size: 2.5vw;
    font-family:$generalfont ;
    color: white;
    text-align: center;
}

.texto2{
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    font-size: 1.4583333333333333vw;
    font-family: $generalfont ;
    color: white;
    text-align: center;
}

.container{
    position: relative;
    width: 100%;
    padding: 5% 20% 0% 20%;
    
}

.glider-prev,.glider-next{
    top: 50%;
    color: white;
    font-size: 4vw;
}

.glider-prev{
    left: -10%;
}

.glider-next{
    right: -10%;
}

.servicios{
    display: flex;
    p{
        position: absolute;
        text-align: center;
        top: 50%;
        font-size: 2.5vw;
        font-family: $generalfont;
        color: white;
        text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    }
    button{
        cursor: pointer;
        
    }
}

.thirdpart{
    width: 100%;
    background-color: black;
    .vector2{
        position: absolute; 
        visibility: visible; 
        z-index: 200;
        transform: rotate(180deg);
        height: 26.041666666666668vw;
        width: 96%;
        margin-top: -1px;
    }
}

#parallax{
    position: relative;
    background-position: center;
    background-attachment: fixed;
    background-image: url(Sources/imagenparallax.png);
    background-size: 100% 100%;
    height: 60rem;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    @media (max-width:1200px) {
        height: 30rem;
    }
    @media (max-width:500px) {
        height: 15rem;
    }
}

footer{
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #000000;
    ul{
        width: 20%;
        list-style: none;

        li{
            width: 100%;
            
            padding-left: 50%;
            padding-bottom: 5%;
            a{
                font-family: $generalfont;
                font-size: 1vw;
                font-style: normal;
                color: white;  
                text-decoration: none;
                
            } 
        }
    }
}

.afiliados{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    #afiliadotext1{
        font-family: $generalfont;
        font-size: 1.875vw;
        text-align: center;
        width: 100%;
        color: white;
    }
    #afiliadotext2{
        font-family: $generalfont;
        font-size: 1.25vw;
        text-align: center;
        width: 60%;
        color: white;
    }
    #afiliadoslogo{
        width: 50%;
        
    }
}